h3{
    background-color: rgb(243, 191, 50);
   
}

body{
    background-color: rgb(245, 234, 164);
    color: rgb(1, 3, 5);
}

p{
    color: black;
   
}
h4{
    color: black;
}
span{
    color: rgb(230, 6, 6);
}